<!DOCTYPE html>

<html>

	<head>
	<title>Animations</title>
	</head>
	
	<body style="background-color:#C4DED9">
    	<h2>Low-Grade Animations:</h2>
    	<p>Using Python's PIL Library, a bit of math, and some ingenuity I present
    	to you these low-grade animations. Please enjoy!!</p>
    	
    	<img src="/static/race.gif" alt="Balls Racing" width="800px" height="400px"
    	 style="display:block; margin-left:auto; margin-right:auto">
    	<p><b><center>Slow and Steady Wins The Race</center></b></p>
	</body>
	
</html>