<!DOCTYPE html>
<html>
	<head>
	<title>Shane Maughn</title>
	</head>
	
	<body style="background-color:#A5D9CF;">
        <h2 style="color:#117A65"><u>ENGI 1006 Final Assignment</u></h2>
    	<ul>
        	<img src="/static/photo.jpg" alt="Photo of Me" width="200px" 
        	 height="200px" style="float:left; margin-right:10px">
    		<p style="color:#5E7B75;"><b>Name: </b>Shane Maughn<br>
    		<b>Grade: </b> Freshman<br>
    		<b>Intended Major: </b> Electrical Engineering</p>
    		
        </ul>
        
        <p style="color:#5E7B75;"><b>My Favorite Webpage:</b>
        <a href="https://www.instagram.com/alexis_art/" 
        style = "color:#FEFCD9">Click Here</a><br>
        
        <b>Page 1:</b>
        <a href="/animation" style="color:#FEFCD9">Click Here</a><br>
        
        
        <b>Page 2:</b>
        <a href="/chess" style="color:#FEFCD9">Click Here</a><br>
        
        </p>
        
	</body>
</html>