<!DOCTYPE html>

<html>

	<head>
	<title>Animations</title>
	</head>
	
	<body style="background-color:#C4DED9">
    	<h2 style="color:#117A65"><u>Low-Grade Animations:</u></h2>
    	
    	<p style="color:#464F4D">Using Python's PIL Library, a bit of math, and some
    	 ingenuity I present to you these low-grade animations. Please enjoy!!</p>
    	<p style="color:#464F4D"><i>Explore the code in the animations.py file</i></p>
    	
    	<img src="/static/race.gif" alt="Balls Racing" width="800px" height="400px"
    	 style="display:block; margin-left:auto; margin-right:auto">
    	<center><p style="color:#56605C"><b>Slow and Steady Wins The Race</b></p></center>
    	
    	<p><center>
    	<img src="/static/explosion1.gif" alt="Explosion 1" width="400px" 
    	height="400px" style=" float:left display:block; margin-right:auto">  
    	<img src="/static/explosion2.gif" alt="Explosion 2" width="400px" 
    	height="400px" style=" float:right display:block; margin-left:auto">
    	</center></p>
    	<center><p style="color:#56605C"><b>Picasso Meets Dynamite</b></p></center>
    	
	</body>
	
</html>